# ==== Image/Container ====
IMAGE_NAME=dinov3:cuda12.1-py310
TZ=Asia/Seoul 
 
# ==== Host Root ====
# Projects Root (run.py, visualize.py, imatch/ ...included)
PROJECT_HOST=<Your>\<Project>\<Directory>\dinov3_main\project

# dinov3 repository (torch.hub loading)
CODE_HOST=<Your>\<Project>\<Directory>\dinov3_src

# pretrained model root 
WEIGHTS_HOST=<Your>\<Project>\<Directory>\dinov3_weights

# image datasets root
DATASET_HOST=<Your>\<Dataset>\<Directory>\Datasets

# query images root
QUERY_HOST=<Your>\<Query>\<Directory>\Query

# exports root
EXPORT_HOST=<Your>\<Export>\<Directory>\dinov3_exports

# ==== Container inside roots ====
REPO_DIR=/workspace/dinov3
IMG_ROOT=/opt/datasets
QUERY_ROOT=/opt/queries
QUERY_PREFIX=Q
QUERY_DATASET_PREFIX=queries_
# embedding (.npy) root
EMBED_ROOT=/exports/dinov3_embeds  
# matching JSON root
MATCH_ROOT=/exports/dinov3_match
# visualization (.png) root
VIS_ROOT=/exports/dinov3_vis

# ==== visualization default ====
VIS_MAX_LINES=1000                     # max number of lines
VIS_LINEWIDTH=3                        # line thickness
VIS_DRAW_POINTS=0                      # 1/0 or  true/false
VIS_POINT_RADIUS=-1                    # -1: automatic, 0: optional sign
VIS_ALPHA=180                          # transparency of line/dot
VIS_RANSAC=homography                  # off/affine/homography
VIS_REPROJ_TH=8.0                      # 0~12
VIS_CONFIDENCE=0.9999                  # 0~1
VIS_ITERS=10000                        # 0~100000

# blocking network (stop torch.hub download)
DINOV3_BLOCK_NET=1 # 1: without permission, 0: permission

# example of blocking network (CLI):
# docker compose exec -e DINOV3_BLOCK_NET=0 matching -w vitl16 -a 400.0100 -b 200.0100
